.header{
    width: 100%;
    height: 5rem;
    background-color: darkcyan;
}

.header nav{
    height: 100%;

}

.header ul{
    list-style-type: none;
    height: 100%;
    float: right;
    display: flex;
    padding-right: 6%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.header h2{
    float: left;
    padding-left: 10%;
    color: #e7f8f8;
    font-family: Bahnschrift;
    font-size: 30px;
}

.header li{
    float: right;
}
.header .title{

}

.menu{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #e7f8f8;
    font: 20px Calibri, serif;
}

.menu:hover,
.menu:active
.active{
    border-bottom: 2px solid #e7f8f8;
}